@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Rajdhani:wght@400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');




.loginForm, .registerForm{

	display: flex;
	flex-direction: column;
	justify-content: center;

	animation: fadeIn 0.5s ease-in;




	input{
		width: 400px;
		margin: 0 auto;
		font-size: 1.5em;
		margin-bottom: 1em;

	}

	button{
		width: 100px;
		text-align: center;
		margin: 0 auto;
		font-size: 1.5em;
	
		
	}

	label{
		text-align: center;
		font-size: 1.5em;
	}
}


.registerForm{
	overflow-y: auto;
	
}



ul{
 
	list-style-type: none; 
	display: flex;
	justify-content: center;

	li{
		margin: 0.5em;

		button{

			font-size: 2em;

		}
	}
}
 
button{

	border-radius: 16px;
	padding: 0.5em;
	margin: 1em;


}

input{

	margin: 1em;

}

.loginPage{
	background-color: rgb(255,255,255,0.65);
	width: 50%;
	margin: 0 auto;
	border: 2px solid black;
	border-top: none;
	margin-top: 5vh;
}

.loginButton, .regButton{
	
	background-color: white;
	margin-bottom: 2em;
}

.loginButton:hover, .regButton:hover{
	background-color: #81d4ed;
		
}

.loginArea, .registerArea{


	margin-top: 20vh;
}


.selected{

	background-color: #81d4ed;
	color: black;
}

.unselected{
	background-color: #051019;
	color: white;
}


@keyframes fadeIn{

	from{

		opacity: 0;
	}

	to{

		opacity: 1;
	}
}


body{
	font-family: "Orbitron", sans-serif;


	button{
		font-family: "Orbitron", sans-serif;
	}

}
