.loginForm, .registerForm{

	display: flex;
	flex-direction: column;
	justify-content: center;




	input{
		width: 400px;
		margin: 0 auto;
		font-size: 1.5em;
		margin-bottom: 1em;

	}

	button{
		width: 100px;
		text-align: center;
		margin: 0 auto;
		font-size: 1.5em;
	
		
	}

	label{
		text-align: center;
		font-size: 1.5em;
	}
}



ul{
 
	list-style-type: none; 
	display: flex;
	justify-content: center;

	li{
		margin: 0.5em;

		button{

			font-size: 2em;

		}
	}
}
 
button{

	border-radius: 16px;
	padding: 0.5em;
	margin: 1em;

}

input{

	margin: 1em;

}

.loginPage{
/*	background-color: #000217;*/
	width: 50%;
	margin: 0 auto;
}

.loginButton:hover, .regButton:hover{
	background-color: #6bcdfa;
	
		
}

.loginArea, .registerArea{

	background-color: white;
	margin-top: 20vh;
}
